#snav {
    z-index: 99999 !important;
}

.sidenav {
    background-color: #4a494b;
    width: 310px;
}

.sidenav .divider {
    background-color: #673ab7;
    border-color: #673ab7;
    margin: 0px;
    border-style: solid;
}

.hamburger {
    border: 0px;
    background-color: black;
    margin: 5px;
}

.title-1 {
    margin-bottom: 20px; 
    padding-left: 12px;
    padding-right: 1px;
    font-weight: 300;
    font-family: 'Great Vibes', cursive;
    
}
.title-2 {
    margin-top: 10px;
    margin-bottom: 50px;
    padding-left: 12px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.sLinks {
    padding-left: 15px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}

/* .login {
    background-color: #673ab7;
    color: antiquewhite;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 20px 0px 0px 80px;
    padding-bottom: 30px;
    align-content: center;
} */



/* 
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Great Vibes', cursive;
font-family: 'Tangerine', cursive;
 */