.sidenav-spacing {
  padding: 5px 5px 5px 316px;
}

.tabs .indicator{
  background-color:rgb(104, 44, 141);/*your color*/
  color: #673ab7;
  }

.tabs .tab a{
  color:#673ab7;
  }

  .tabs .tab a:hover{
    background-color:#f3ebff;
    color:#673ab7;
  }

  .tabs .tab a.active {
    background-color:#e3d5f8 !important;
    color:#673ab7 !important;
}

.tabs .indicator {
  background-color:#e3d5f8;
}

.sidenav li:hover {
  background-color:#673ab7 !important;
}

#root{
  background-color: #212121 ;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (max-width : 992px) {
.sidenav-spacing  {
    padding: 0px 5px 0px 5px;
  }
}

@media only screen and (min-width : 992px) {
  .hamburger  {
      display: none !important;
    }
  }

.row {
  margin: 0px;
}